* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    display: flex;
    flex-direction: column;
    background-color: #bbdabe;
    font-family: 'DM Sans', sans-serif;

}

header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    
    
}


.esquerda h1{
    font-size:2rem;
}
.direita nav{
 display:flex ;
gap: 1rem;

}




nav a {
   text-decoration: none;
   color: #395c46;
   font-family: 'Dm Sans', sans-serif;
   font-weight: 550;

}
  nav a:hover{
   color: #fff;
}


.meu-container{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    
}
.conteudo{
    max-width: 700px;
    width: 100%;
    background-color: #85c09b;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px #517563;
}

.conteudo h2{
    font-size: 45px;
    color: #395c46;
    font-family:Dm Sans;
}

.conteudo p{
    font-family: Cinzel;
    text-align: justify;
    font-size: 25px;
    color:#314e3c;
}

/*pagina cadastro*/

.form-linha {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.form-linha label {
  width: 200px;
  text-align: right;
  font-weight: 600;
}

.form-linha input,
.form-linha select,
.form-linha textarea {
  flex: 1;
}
