* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(145, 180, 145);
    font-family: 'DM Sans', sans-serif;

}

header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    
    
}


.esquerda h1{
    font-size:2rem;
}
.direita nav{
 display:flex ;
gap: 1rem;

}




nav a {
   text-decoration: none;
   color: #201f1f;
   font-family: 'Dm Sans', sans-serif;
   font-weight: 550;


  nav a:hover{
   color: #fff;
}


